div.editable{
    display: flex;
    align-items: center;
}
.edit-target{
    padding: 10px;
}
.ml-1{margin-left: .25rem;}
[x-cloak] {
    display: none !important;
}
.lottie-box{width: 44px;}
.lottie-sm{width: 35px !important;}